.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  background-color: #F8F8F8;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0,.2);
  width: 800px;
}
.title {
  font-weight: 200;
  font-family: sans-serif;
  color: #A6A9AE;
}
.Input {
  
}