/* components/Menu.module.css */

.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbarMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbarItem {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbarLink {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbarLink:hover {
    color: #ccc;
  }
  